/node_modules
/node_modules/*
npm-debug.log
config.js
settings.json
/databases/
credentials.json
.hg
.bzr
.svn
*~
*#
/utilities/createTables.js
/data/themesDB.sqlite3
/data/textDB.sqlite3
/databases/authbattle.json